@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    /* FONT SIZE */
    --text-sm: 1.2rem;
    --text-base: 1.6rem;
    --text-paragraph: 2rem;
    --text-h5: 2.4rem;
    --text-h4: 3.2rem;
    --text-h3: 4rem;
    --text-h2: 4.8rem;
    --text-h1: 6.2rem;
    --icon-size: 2.6rem;

    /* FONT WEIGHT */
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* LINE HEIGHTS */
    --line-height-tight: 1.2;
    --line-height-normal: 1.5;

    /* LETTER SPACING */
    --letter-spacing-tight: -2px;

    /* FONT FAMILY */
    --font-family: 'Poppins', sans-serif;

    /* COLORS */
    --primary-base: #F1FAFF;
    --blue-text:    #002E64;
    --grey-base:    #495057;
    --white:        #fcffff;
    --black:        #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
   font-size: 62.5%; 
   /* 10px = 62.5% */
   scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    background-color: var(--primary-base);
    color: var(--grey-base);
    line-height: var(--line-height-normal);
}

h1, h2, h3, h4, h5 {
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-tight);
    letter-spacing: var(--letter-spacing-tight);
    color: var(--grey-shade);
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: var(--text-h1);
}

h2 {
    font-size: var(--text-h2);
}

h3 {
    font-size: var(--text-h3);
}

h4 {
    font-size: var(--text-h4);
}

h5 {
    font-size: var(--text-h5);
}

h6 {
    font-size: var(--text-sm);
}

p {
    font-size: var(--text-paragraph);
}

a {
    text-decoration: none;
    font-size: var(--text-base);
    display: inline-block;
}

/* a:link, a:visited, a:hover, a:active {
    color: var(--grey-base);
} */

ul {
    list-style: none;
}


 /* ----------------components-------------------- */

.btn{
    padding: 1rem 2rem;
    border-radius: 1rem;
    letter-spacing: 0.3rem;
    font-weight: var(--font-weight-bold);
    border: 2px solid var(--black);
    transition: 0.5s;
}

.btn-primary{
    color: var(--white);
    background-color: var(--black);
}
.btn-primary:hover{
    transform: scale(1.1);
    color: var(--white);
}

.s-text{
    font-size: var(--text-base);
}

 /* ----------------sections-------------------- */

 /* -------nav-bar------ */

 header{
    margin-top: 0.5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: var(--primary-base);
    filter: drop-shadow(0 0 10px var(--primary-base));
    opacity: 0.98;
    z-index: 100;
}

 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 nav a{
    color: var(--grey-base);
 }

 nav a:hover, nav a.active{
    color: var(--blue-text);
    border-bottom: 3px solid var(--blue-text);
    font-weight: var(--font-weight-bold);
    transition: 0.5s ease;
 }

 .nav-item{
    display: flex;
    gap: 2rem;
    align-items: center;
 }

 .nav-logo{
    max-width: 50px;
    width: 100%;
    margin-left: 4rem;
 }

 .logo-container{
    display: flex;
    align-items: center;
    gap: 1rem;
 }

  /* -------hero-section------ */

  .hero-section{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-text{
    text-align: center;
    margin-bottom: 5rem;
    color: var(--blue-text);
  }

  .hero-img-container{
    margin-bottom: 10rem;
  }

  .hero-img{
     max-width: 1000px;
     width: 100%;
  }


 /* ------ FEATURES------ */

 .features-heading{
    text-align: center;
    color: var(--blue-text);
    margin-bottom: 5rem;
 }

.features{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    margin-bottom: 17rem;
}

.f-image{
    max-width: 300px;
    width: 100%;
}

.feature-item{
    height: 400px;
    width: 400px;
    background-color: var(--white);
    border-radius: 2rem;
    border: 0.0001px solid #cbd0d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.feature-item:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.feature-text{
    text-align: center;
}

.f-h{
    margin-top: 3rem;
}



/* ------ main-FEATURES------ */

.main-features{
    margin-bottom: 20rem;
}

.main-features-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10rem;
    column-gap: 5rem;
    justify-content: center;
    align-items: center;
}

.m-f-img{
    max-width: 600px;
    width: 100%;
}

.m-f-heading{
    margin-bottom: 2rem;
}

.m-f-ul{
    list-style: disc;
    margin-bottom: 2rem;
}

/* ------Reviews------ */

.reviews{
    margin-bottom: 20rem;
}

.reviews-heading{
    text-align: center;
    color: var(--blue-text);
    margin-bottom: 5rem;
}

.review-img{
    max-width: 400px;
    width: 100%;
    border-radius: 2rem;
}

.review-card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
}

/* ------CTA-section------ */

.cta-section {
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
}

.cta-card {
    text-align: center;
    background-color: #96d6fa;
    max-width: 1000px;
    width: 100%;
    padding: 10rem 20rem;
    border-radius: 20px;
}

.cta-heading {
    margin-bottom: 3rem;
    color: var(--black);
}


/* -----footer------ */

footer{
    /* max-width: 1200px; */
    width: 100%;
    background-color: var(--black);
}

.footer-content-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}

.footer-item-1{
    margin-left: 3rem;
    margin-top: 2rem;
}

.footer-item-2{
    margin-top: 2rem;
}

.footer-item-3{
    margin-top: 2rem;
}

.footer-item-4{
    margin-top: 2rem;
}



/* .footer-item{
    margin-left: 4rem;
} */

.f-text{
    color: var(--white);
}


.logo-and-links-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.l-text{
    text-align: center;
    font-size: 1.4rem;
    color: var(--white);
    /* margin-bottom: 4rem; */
}

.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--white);
    font-size: var(--icon-size);
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: var(--white);
}











